Source: elementary-redshift
Section: x11
Priority: optional
Maintainer: Samuel Thomas <sgpthomas@gmail.com>
Build-Depends: debhelper (>= 9),
               libswitchboard-2.0-dev,
               libwingpanel-2.0-dev,
               valac-0.28 | valac (>= 0.28),
               libgranite-dev (>= 0.3.0),
               libgtk-3-dev,
               libgee-0.8-dev,
               libglib2.0-dev,
               redshift
Standards-Version: 3.9.5

Package: elementary-redshift
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: switchboard
Description: Wrapper for Redshift <http://jonls.dk/redshift/> that adds a Wingpanel Indicator and a Plug
